<div class="card">
  <div class="card-body">
    <h5 class="card-title">Gráficos de donas</h5>
    <div class="row">
      <div class="col-md-8">
        <div style="display: block">
            <canvas baseChart
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
          </div>    
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-outline-danger btn-block" (click)="numeroRandom();" type="button">Actualizar Datos</button>
      </div>
    </div>

  </div>
</div>  